
body {
  background-image: url("../images/swirl.png");
  font-family: 'Inder', sans-serif;


}

h1 {
  color: black;
  font-size: 55px;
  padding: 5px;
  opacity: 0.5;
  text-align: center;

}

h3{
  border: 1px gray;
  padding: 2px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  font-size: 30px;

}


ul {
  color: green;

}


li:nth-child(2n){
  color: blue;
  font-size: 25px;
}
