
body {
  background-image: url("../images/swirl.png");
  background-size: cover;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  color: blue;
  background-color: tan;
  font-family: 'Inder', sans-serif;
  font-size: 55px;
  padding: 5px;
  opacity: 0.5;
}

h3{
  border: 1px solid green;
  padding: 2px;
  background-color: grey;
  color: white;
  border-radius: 10px;
  font-size: 30px;

}


ul {
  color: green;

}


li:nth-child(2n){
  color: blue;
  font-size: 25px;
}
